body {
  font-family: Source Code Pro;
  background:#000;
  color: #00FF00;
  margin:0;
  font-size: 13px;
}
p {
  margin: 0;
}
.input-console:focus{
  outline: none;
}
.input-console{
  color: #00FF00;
}
.Typewriter__cursor{
  display: none;
}